
.warp{
    width:100%;
    overflow: hidden;
}
.banner{
    background:url(../img/bg3.png) no-repeat;
    background-size: 100% 100%;
    width:100%;
    height:360px;
    transition:1s all ease;
    box-shadow: 2px 2px 10px #000;
    z-index: 999;
    position: fixed;
    top:0;
}
.banner img{
    width: 100%;
    height:360px;
}
.banner .banner_nav{
    width:100%;
    height:40px;
    position:absolute;
    bottom:0;
    opacity: 0;
}
.banner .banner_nav a{
    float: left;
    width:calc(25% - 40px);
    font:22px/40px "kaiti";
    margin:0 20px;
    text-align: center;
    color: #b9c3ff;
    text-shadow: 0px 0px 2px #430665;
    -webkit-transform: rotateY(0deg);
    transition:0.6s all ease;
}
.banner .banner_nav a:hover{
    -webkit-transform: rotateY(360deg);
}

 .box{
    width:100%;
    height:360px;
    transition:1s all ease;
}
.conent{
    width:100%;
    height:660px;
    margin-top:60px;
    transition:1s all ease;
    position: relative;
}
.conent h2{
    font: bold 35px "微软雅黑";
    text-align: center;
    color: #38a4f1;

}
.conent .logo{
    background: url(../img/022.jpg) no-repeat;
    border-radius:50%;
    width: 180px;
    height:180px;
    background-size: 100% 100%;
    margin:150px auto;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(34, 12, 68, 0.96);
    animation:test2 1s ease infinite;
}
.conent .logo i{
    display: block;
    border-radius:50%;
    width: 100%;
    height:100%;
    border:3px solid rgba(67, 6, 101, 0.83);
    position: absolute;

    -webkit-transform: scale(1.1,1.1);
    animation:test 1s ease infinite;
}
@keyframes test2{
    from{ -webkit-transform:scale(1.1,1.1);}
    to{ -webkit-transform: scale(0.99,0.99);}
}
@keyframes test{
    from{ -webkit-transform:  rotateY(0deg) scale(0.99,0.99);}
    to{ -webkit-transform:  rotateY(360deg)  scale(1.1,1.1);}
}
.conent .logo span{
    display: block;
    width: 180px;
    height:180px;
    border-radius:50%;
    position: absolute;
    font: 20px/20px "微软雅黑";
    top:135px;
    left:35px;
    color: rgba(245, 79, 195, 0.75);
    text-shadow: 1px 1px 5px #ccc;
    animation:test3 0.8s ease infinite;
}
.conent p{
    text-align: center;
    font: bold 20px "微软雅黑";
    color: #84d8ff;
    position: relative;
}
.conent .jb{

    width: 120px;
    height: 25px;
    float:left;
    position: absolute;
    top:60px;
    left:90px;
    opacity: 0;
    display: none;
}
.conent .zy{

    width: 120px;
    height: 25px;
    float:right;
    position: absolute;
    top:60px;
    right:90px;
    opacity: 0;
    display: none;
}
.conent .zy_1{
    width:15%;
    height:435px;
    float:right;
    position: absolute;
    top:100px;
    right:80px;
    opacity: 0;
    display: none;
}
.conent .jb_1{
    width:15%;
    height:435px;
    float:right;
    position: absolute;
    top:100px;
    left:80px;
    opacity: 0;
    display: none;
}
.conent .menu{
    position: absolute;
    width:100%;
    height:600px;
/*   border:2px solid #000;*/
    z-index: 0;
    top:0px;
    transition:1s all ease;
    opacity: 0;

}
.conent .menu .menu_logo{
    overflow: hidden;
    height:300px;
    width: 300px;
    border-radius:50%;
    top:-10px;
    margin:150px auto;
    position: relative;
    cursor: pointer;
    background:url(../img/1.png) no-repeat;
    background-size: 100%;
}
.conent .menu .menu_logo div{
    background:url(../img/0.png) no-repeat;
    width:100%;
    height:100%;
    float:left;

}
/*.conent .menu .menu_logo span{

    -webkit-transform-style: preserve-3d;
    position:absolute;
    top:0;left:0;
    -webkit-transform: perspective(800px) rotateY(0deg);
}
.conent .menu .menu_logo span .front{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    background:url(../img/0.png) no-repeat;
    -webkit-transform: translateZ(1px);
}
.conent .menu .menu_logo span .back{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    background:url(../img/1.png) no-repeat;
    -webkit-transform: translateZ(-1px) scale(-1,1);
}*/
.nav{
    width: 100%;
    height:600px;
    background: #222222;
}
.nav p{
    width: 200px;
    display: block;
    color: #84d8ff;
    margin:0 auto;
    padding-top:50px;
    font:50px "kaiti";
    /*text-shadow: 2px 2px 5px #f54fc3;*/
}
.nav .nav_con{

    text-align:center;
    padding:6% 0;

}
.nav .nav_con li{
    width:250px;
    height:250px;
    margin:10px 10px;
    display: inline-block;
    cursor:pointer;
    overflow:hidden;
    position:relative;
    border-radius: 50%;
    box-sizing: border-box;
   /* box-shadow: inset 0px 0px 30px #000;*/
}
.nav .nav_con .bg1 {
    background: url("../img/11.png") no-repeat;
    background-size: 100% 100%;
}
.nav .nav_con .bg2 {
    background: url("../img/12.png") no-repeat;
    background-size: 100% 100%;
}
.nav .nav_con .bg3 {
    background: url("../img/13.png") no-repeat;
    background-size: 100% 100%;
}
.nav .nav_con .opus span{
    position:absolute;
    left:-280px; top:-30px;
    width:250px;
    height:250px;
    border-radius: 50%;
    text-align:center;
    font:bold 30px/250px "";
    background:#000;
    opacity:0.4;
    color: #84d8ff;
}
.nav .nav_con li:hover{
    box-shadow:0px 0px 50px #fff,inset 0px 0px 20px #000;
}
.content-contact {
    position: relative;
    min-height: 600px;
}
.map {
    position:relative;
}
.map iframe {
    width: 100%;
    min-height: 600px;
    border: none;
    position: absolute;
}
.contact-us {
    background: rgba(48, 138, 194, 0.56);
    width: 100%;
    padding: 1.65em 0;
    top: 0;
    right: 0;
    position: absolute;
    min-height: 600px;
}
.container{
    width: 80%;
    margin: 50px auto 0px;
}
.contact-us-text {
    text-align:center;
    margin: 5% 0;
}
.contact-us h2 {
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    font-size: 38px;
}
.contact-us p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color: #EAF4F7;
    position:relative;
}
.contact-us span {
    display:block;
}
.text-fields {
    width:60%;
    margin:0 auto;
}
.location a span {
    position: absolute;
    top: 21%;
    right: 9%;
}
.location a span img {
    width:100%;
}
.text-fields-left form input[type="text"] {
    width:100%;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color:#E5E5E5;
    outline:none;
    border-radius: 8px;
    border: solid 2px #FFFFFF;
    margin-bottom: 2.5%;
    background-color: rgba(255,255,255,0);
}
.text-fields-left form input[type="text"]:hover {
    color:#1C8DD5;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
}
.text-fields-right {
    padding: 0;
}
.text-fields-right textarea {
    width:100%;
    resize:none;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color:#E5E5E5;
    outline:none;
    border-radius: 8px;
    border: solid 1px #FFFFFF;
    margin-bottom: 5%;
    background-color: rgba(255,255,255,0);
}
.text-fields-right textarea:hover {
    color:#1C8DD5;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:0.5s;
}
.button-sub {
    margin: 2% 0 0 43%;
}
.button-sub form input[type="submit"] {
    padding: 0.5em 1.5em;
    border: #ffffff solid 2px;
    background: rgba(255,255,255,0);
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 7px;
    width: 100px;
}
.button-sub form input[type="submit"]:hover {

    color: #1C8DD5;
    text-decoration: none;
    border: #1C8DD5 solid 2px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.partner{
    background: #000;
    width: 100%;
    height:50px;
}
#fixed{
    position: fixed;
    bottom:20px;
    right:0;
    background: url("../img/ccx.gif") no-repeat;
    width: 80px;
    height:80px;
    background-size: 100% 100%;
    border-radius:50%;
    cursor:pointer;
}
@media (max-width:1280px)
{
    .nav_con li{margin:10px 10px;}
}
@media (max-width:1026px)
{
    .nav{height:800px;}
}
@media (max-width:682px)
{
    .nav{height:1060px;}
    .conent{height: 1160px;}
    .conent .jb{
        top:620px;
        left:60px;
        width: 100px;
    }
    .conent .zy{
        top:620px;
        right:60px;
        width: 100px;
    }
    .conent .zy_1{
        top:680px;
        right:60px;
        width: 25%;
    }
    .conent .jb_1{
        top:680px;
        left:60px;
        width: 25%;
    }
}

